<section class="bg-primary" id="about">
    <div class="container">
<!--        <div class="row">-->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Retaining Wall Construction & Installation</h2>
                <hr class="light">
                <p class="text-faded">
                    We are committed to delivering the highest quality retaining walls to our
                    customers in Spokane, WA, and surrounding areas. Our retaining wall services are designed to
                    provide structural support, prevent soil erosion, manage water runoff, and protect your property
                    from potential damage. With our expertise and use of durable materials, we ensure that your
                    retaining walls will stand the test of time.
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Request a free consultation!</a>
            </div>
<!--        </div>-->
    </div>
</section>
