<section id="services">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Quality Retaining Walls Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary"></i>
                    <h3>BLOCK RETAINING WALLS</h3>
                    <img src="img/icons/01.png" class="img-responsive" alt="">
<!--                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>STONE RETAINING WALL</h3>
                    <img src="img/icons/02.png" class="img-responsive" alt="">
<!--                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>DESIGN CONTRACTOR</h3>
                    <p>  </p>
                    <img src="img/icons/03.png" class="img-responsive" alt="">
<!--                    <p class="text-muted">We update dependencies to keep things fresh.</p>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>RETAINING WALL REPAIR</h3>
                    <img src="img/icons/04.png" class="img-responsive" alt="">
<!--                    <p class="text-muted">You have to make your websites with love these days!</p>-->
                </div>
            </div>
        </div>
    </div>
</section>
